@mixin Margin(){
    margin-left: 10px;
    margin-right: 10px;
}

.modalContainer{
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #ffffffb1;
    .signUpModal{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background:#fff;
        border-radius: 10px;
        width: 420px;
        height: 450px;
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 1.6;
        .nameInputs{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            input{
                width: calc(50% - 10px);
                height: 40px;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 0 10px;
                margin-bottom: 12px;
                @include Margin();
                &:focus{
                    outline: none;
                }
                font-size:0.9em;
            }
        }
        input{
            font-size:0.9em;
            width: calc(100% - 41px);
            height: 40px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 0 10px;
            margin-bottom: 12px;
            &:focus{
                outline: none;
            }
            @include Margin();
        }
        .dateInputs{
            width: calc(100% - 10px);
            display: flex;
            justify-content: center;
            margin-bottom: 12px;
            @include Margin();
            select{
                width:calc((100% / 3) - 10px);
                height: 40px;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin-left: 5px;
                margin-right: 5px;
                padding: 0 10px;
                &:focus{
                    outline: none;
                }
            }
        }
        button{
            width:50%;
            height: 40px;
            margin-top: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #00a400;
            color:white;
            font-size: 1.1em;
            font-weight:600;
            &:hover{
                background-color: #699B5C;
                color:white;
            }
        }
        .closeButton{
            display: flex;
            width: 100%;
            h1{
                width: 98%;
                margin: 10px 0px 12px 10px;
                font-weight: 600;
                font-size: 2.1em;
                margin-right: auto;
            }
            img{
                padding-right: 10px;
            }
        }
        p{
            width: calc(100% - 2%);
            margin: 0;
            margin-bottom:12px;
            font-size: 01.1em;
            font-weight: 300;
            padding-left: 10px;
        }
        hr{
            width: 100%;
            background-color:black;
            border: none;
            border-top: 1px solid rgb(184, 184, 184);
            margin: 0;
            margin-bottom: 15px;
        }
        .genderInputs{
            width:calc(100% - 10px);
            display: flex;
            align-items: center;
            height:40px;
            @include Margin();
            .radioWrapper{
                width: calc(100% / 3 - 10px);
                margin-left: 5px;
                margin-right: 5px;
                height:100%;
                display: flex;
                align-items: center;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding-left: 10px;
                padding-right: 10px;
                input{
                    width: 15px;
                    height:15px;
                    margin: 0;
                    margin-left: auto;
                }
                label{
                    font-size: 1em;
                }
            }
        }
    }

}